DOT_FILES_PROJECT_DIRECTORY=~/.dotfiles
#omzsh
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME=""
plugins=(git aws docker iterm2 terraform python kubectl)
source $ZSH/oh-my-zsh.sh

# source all global variables
for f in $DOT_FILES_PROJECT_DIRECTORY/globals/*; do source "$f"; done;
# source all functions
for f in $DOT_FILES_PROJECT_DIRECTORY/functions/*; do source "$f"; done;
# souorce all aliases
for f in $DOT_FILES_PROJECT_DIRECTORY/aliases/*; do source "$f"; done;

#load pyenv and pyenv-virtualenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"