DOT_FILES_SRC="${DOT_FILES_SRC}"
#omzsh
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="awesomepanda"
ZSH_THEME=""
plugins=(
  git
  aws
  docker
  iterm2
  terraform
  python
  kubectl
)
source $ZSH/oh-my-zsh.sh

#trim whitespace before adding commadns to history
setopt HIST_REDUCE_BLANKS
#allow prompt substitution
setopt prompt_subst

#basically the robbyrussell theme with your user name
PROMPT="%(?:%{$fg_bold[green]%}%1{➜%} :%{$fg_bold[red]%}%1{➜%}) %{$fg[green]%}%n %{$fg[cyan]%}%c%{$reset_color%} "
PROMPT+='$(git_prompt_info)'
ZSH_THEME_GIT_PROMPT_PREFIX="%{$fg_bold[blue]%}git:(%{$fg[red]%}"
ZSH_THEME_GIT_PROMPT_SUFFIX="%{$reset_color%} "
ZSH_THEME_GIT_PROMPT_DIRTY="%{$fg[blue]%}) %{$fg[yellow]%}%1{✗%}"
ZSH_THEME_GIT_PROMPT_CLEAN="%{$fg[blue]%})"

# source all global variables
for f in $DOT_FILES_SRC/globals/*; do source "$f"; done;
# source all functions
for f in $DOT_FILES_SRC/functions/*; do source "$f"; done;
# souorce all aliases
for f in $DOT_FILES_SRC/aliases/*; do source "$f"; done;

# argocd commands
alias argos='kubectl -n argocd get secret argocd-initial-admin-secret -o json | jq -r .data.password | base64 -d | cut -d % -f 1  | pbcopy'
alias argopf='argos; kubectl -n argocd  port-forward service/argocd-server 8085:443'


#load pyenv and pyenv-virtualenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

#setup NVM
export NVM_DIR="$HOME/.nvm"
  [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

